

<div class="row align-items-md-stretch p-2">
    <!-- Formulafio de adicion de empleados -->
    <div class="col-md-4">
        <div class="h-100 w-80 p-4 text-bg-dark rounded-3 text-center">
        <h2>{{userLogged.username.toUpperCase()}}</h2>
        <h3>{{userLogged.first_name}} {{userLogged.last_name}}</h3>
        <div class="row">
            <h4>Tareas Listas</h4>
            <h3>33</h3>
        </div>
        <div class="row">
            <h4>Tareas En Progreso</h4>
            <h3>45</h3>
        </div>
        <div class="row">
            <h4>Tareas Pendientes</h4>
            <h3>3</h3>
        </div>
        
        </div>
    </div>

    <!-- filtro de busqueda de empleados -->
    <div class="col-md-8">
        <div class="h-100 w-80  p-4 text-bg-dark rounded-3">
            <h3>lista de Tareas</h3>

        
        </div>
    </div>

</div> 
