
<div class="row mb-4 mt-5">

    <div class="col-md-4 text-center">
        <h2 class="fw-bold">Registers</h2>
        <h1>{{cantRegisters}}</h1>
    </div>

    <div class="col-md-8 text-center">
        <form class="row mt-2">
        
            <div class="col">
            <h2 class="fw-bold">Title</h2>
            <input 
            [(ngModel)]="titleFilter" name="title"
            (input)="handleSearchName()"
            class="form-control bg-secondary text-white border-0" type="text" placeholder="Title">
            </div>
            <div class="col">
            <h2 class="fw-bold">Start Date</h2>
            <input [(ngModel)]="startDateFilter" name="Start Date"
                    (input)="handleSearchDateRange()"
                    class="form-control bg-secondary text-white border-0"
                    type="date" min="1995-06-16" max="{{ endDateFilter }}"
                    pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD">
            </div>
            <div class="col">
            <h2 class="fw-bold">End Date</h2>
            <input [(ngModel)]="endDateFilter" name="End Date"
                    (input)="handleSearchDateRange()"
                    class="form-control bg-secondary text-white border-0"
                    type="date" min="{{ startDateFilter }}" max="{{ currentDate }}"
                    pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD">
            </div>
            <div 
            (click)="resetFilters()"
            class="col align-items-center justify-content-center p-2">
            <button type="button" class="btn_reload"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
            
        
        </form>
    </div>

</div>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-0">
    <div 
    *ngFor="let item of (isFilter ? apodDataArraySearch : apodDataArray)"
    class="col"
    (mouseover)="changeBackground(item.hdurl)"
    >
        <div 
        (click)="selctItem(item)"
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 " style="background-image: url('{{item.hdurl}}');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 capa">
            <h4 class="mt-5 lh-1 fw-bold h-50">{{item.title}}</h4>
            <div class="row h-25">
            <div class="col key_word d-flex">
                <h5 class="p-2 word align-items-center justify-content-center ">concepto</h5>
                <h5 class="p-2 cant align-items-center justify-content-center ">+5</h5>
            </div>
            <div class="col p-2 text-center" style="font-size: 17px;">{{item.date}}</div>
            </div>
        </div>
        </div>
    </div>

</div>