<nav class="navbar navbar-expand-lg text-bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        My App
        <img src="https://camo.githubusercontent.com/15db5e7a9954c388dd6d11990c427cbe63e6cdaa03963a437b88e8f4abe9a573/68747470733a2f2f64657674616c6c65732e636f6d2f696d616765732f616e67756c61722e706e673f6e6577" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link text-white lk_basic"  href="/basic" routerLinkActive="active">CRUD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white lk_api" href="/api-client" routerLinkActive="active">API Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white lk_login" href="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
