.formlogin{
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
    color: aliceblue;
}

.btnlogin{
    background: #0cc854;  /* fallback for old browsers */
    color: azure;
}
    